@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  /* font-family:'proxima-nova-bold'; */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.login {
  background: linear-gradient(to left, #0045a6, #002353) !important;
}
.teachbtn {
  color: #0045a6 !important;
  background-color: #fff !important;
  border-color: #0045a6 !important;
  transition: background-color 0.2s ease-in-out;
}
.teachbtn:hover {
  color: #fff !important;
  background-color: #0045a6 !important;
  border-color: #0045a6 !important;
}
.border-custom {
  border-top: 2px solid #848484;
  display: inline-block;
  width: 74%;
  margin-left: 1%;
}
.main {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: auto;
  max-width: 1200px;
}
